<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #home-main-content},  
                                               )}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube M2i Formation</title>

    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div id="home-main-content" class="bg-light p-5 rounded">
	
    <!-- filters -->
    <div class="filters">
        <button class="filter-options active">Tout</button>
        <div th:each="category : ${categoryList}">
        	<button class="filter-options" th:utext="${category.denominate}" ></button>
        </div>
   </div>

    <!-- videos -->
    <div class="video-container">
        - <div th:each="video : ${videoList}"  class="video">
            <img th:usrc="${video.url}" class="thumbnail" alt="">
            <div class="content">
                <img src="img/profile-pic.png" class="channel-icon" alt="">
                <div class="info">
                    <h4 class="title" th:utext="${video.description}" >youtube clone 2022 M2i Formation | create working youtube clone</h4>
                    <p class="channel-name" th:utext="${video.channel.name}">M2i Formation</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="js/app.js"></script>
</body>
</html>